<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
          integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="formbox">
    <form method="post">
        {% csrf_token %}
        <label for="{{ l.id_for_label }}">{{ login_form.username.label }}</label>
        {{ login_form.username }}
        {% for error in login_form.username.errors %}
            <p style="color: red;">{{ error }}</p>
        {% endfor %}
    <label for="{{ login_form.password.id_for_label }}">{{ login_form.password.label }}</label>
        {{ login_form.password }}
        {% for error in login_form.password.errors %}
            <p style="color: red;">{{ error }}</p>
        {% endfor %}
     <input type="submit" value="send">
    </form>
</div>
</body>
</html>
<style>
    .formbox {
        border-radius: 10px;
        width: 455px;
        background-color: antiquewhite;
        padding: 20px;
        margin: auto;
        margin-top: 20px;
        -webkit-box-shadow: -1px 2px 6px 1px rgba(0, 0, 0, 0.53);
        box-shadow: -1px 2px 6px 1px rgba(0, 0, 0, 0.53);
    }

    body {
        font-family: 'Shabnam', sans-serif;
    }


</style>